Repository boostcampwm-2022/web15-Teleparty, pull requests merged in 2022-11, with the labels that each got.

#11 Style/#10/global styles
  frontend/.gitignore
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/icon-selection.json
  frontend/src/assets/logo.svg
  frontend/src/components/Icon/Icon.tsx
  frontend/src/global-styles/global-styles.ts
  frontend/src/global-styles/styled.d.ts
  frontend/src/global-styles/theme.ts
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: :lipstick: style, :art: frontend

#13 Chore/#1/cicd setting
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  backend/package-lock.json
  backend/package.json
  backend/public/.gitkeep
  backend/src/app.ts
  backend/test/test.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/test/test.ts
Labels: :white_check_mark: test, :mag: 리뷰요청, :rocket: ci/cd, :gear: backend

#14 [FEAT] 색상 선택 컴포넌트 구현
  .prettierrc
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/Palette/Palette.component.tsx
  frontend/src/components/Palette/Palette.styles.tsx
  frontend/src/global-styles/theme.ts
  frontend/src/pages/Test.tsx
Labels: :sparkles: feat, :lipstick: style, :package: chore, :art: frontend

#15 [FEAT] 그림판 UI 및 선 그리기 구현
  frontend/src/App.tsx
  frontend/src/components/Canvas/Canvas.component.tsx
  frontend/src/components/Canvas/Canvas.styles.tsx
  frontend/src/components/Canvas/utils/Line.ts
  frontend/src/components/Canvas/utils/Point.ts
  frontend/src/components/Canvas/utils/Shape.ts
  frontend/src/components/Canvas/utils/canvas.ts
  frontend/src/components/Icon/Icon.tsx
  frontend/src/global-styles/styled.d.ts
  frontend/src/utils/coordinate.ts
  frontend/src/utils/uid.ts
Labels: :sparkles: feat, :art: frontend

#17 [FEAT] 굵기 선택 컴포넌트 구현
  frontend/src/components/Thickness/Thickness.component.tsx
  frontend/src/components/Thickness/Thickness.styles.tsx
  frontend/src/global-styles/theme.ts
  frontend/src/pages/Test.tsx
Labels: :sparkles: feat, :lipstick: style, :art: frontend

#18 [FEAT] 캔버스 성능 최적화
  frontend/src/components/Canvas/Canvas.component.tsx
  frontend/src/components/Canvas/utils/Line.ts
  frontend/src/utils/debounce.ts
Labels: :art: frontend

#19 [FEAT] 투명도 조절 컴포넌트 구현
  frontend/src/components/Transparency/Transparency.component.tsx
  frontend/src/components/Transparency/Transparency.styles.tsx
  frontend/src/global-styles/theme.ts
  frontend/src/pages/Test.tsx
Labels: :sparkles: feat, :lipstick: style, :art: frontend

#21 [FEAT] 서버 소켓 이벤트 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/domains/canvas/canvas.ts
  backend/src/types/canvasData.ts
  backend/test/canvasSocket.test.ts
  backend/test/test.ts
Labels: :white_check_mark: test, :mag: 리뷰요청, :gear: backend

#20 [FEAT] 그림판 되돌리기 구현
  frontend/src/components/Canvas/Canvas.component.tsx
Labels: :sparkles: feat, :art: frontend

#22 [FEAT] 캔버스 도구(지우개, 도형, 닫힌 도형 채우기) 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Canvas/Canvas.component.tsx
  frontend/src/components/Canvas/utils/Ellipse.ts
  frontend/src/components/Canvas/utils/Polygon.ts
  frontend/src/components/Canvas/utils/Rectangle.ts
  frontend/src/components/Canvas/utils/StraightLine.ts
  frontend/src/components/Canvas/utils/canvas.ts
  frontend/src/components/Icon/Icon.tsx
  frontend/src/components/ToolBox/ToolBox.component.tsx
  frontend/src/components/ToolBox/ToolBox.styles.tsx
  frontend/src/store/tool.ts
Labels: :sparkles: feat, :art: frontend

#27 [REFACTOR] 백엔드 리팩토링 및 버그수정
  backend/src/app.ts
  backend/src/domains/canvas/canvas.ts
  backend/src/types/canvasData.ts
  backend/test/canvasSocket.test.ts
Labels: :hammer_and_pick: fix, :recycle: refactor, :mag: 리뷰요청, :art: frontend

#60 [CHORE] shared 패키지 세팅
  package-lock.json
  packages/shared/.eslintrc.json
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/tsconfig.json
Labels: :package: chore

#64 [PERF] 캔버스 성능 개선
  packages/frontend/src/components/Canvas/Canvas.component.tsx
Labels: :art: frontend, ⚡️ perf

#62 [FEAT] 닉네임 입력 인풋 구현
  packages/frontend/src/App.tsx
  packages/frontend/src/components/NicknameInput/NicknameInput.component.tsx
  packages/frontend/src/components/NicknameInput/NicknameInput.styles.tsx
  packages/frontend/src/components/common/TextInput.tsx
  packages/frontend/src/utils/string.ts
Labels: :sparkles: feat, :art: frontend

#66 [FEAT] 채팅
  package-lock.json
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/src/components/Avatar/Avatar.styles.tsx
  packages/frontend/src/components/Chat/Chat.component.tsx
  packages/frontend/src/components/Chat/Chat.styles.tsx
  packages/frontend/src/components/Chat/ChatBubble.component.tsx
  packages/frontend/src/components/common/Button.tsx
  packages/frontend/src/components/common/Input.tsx
  packages/frontend/src/global-styles/global-styles.ts
  packages/frontend/src/global-styles/styled.d.ts
  packages/frontend/src/global-styles/theme.ts
  packages/frontend/src/store/socket.ts
Labels: :sparkles: feat, :lipstick: style, :art: frontend, :gear: backend

#67 [FEAT] 방 입장 구현
  packages/frontend/package.json
  packages/frontend/src/global-styles/styled.d.ts
  packages/frontend/src/global-styles/theme.ts
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/store/roomId.ts
Labels: :sparkles: feat, :art: frontend, :gear: backend

#69 [FEAT] MoonTimer 컴포넌트 구현
  packages/frontend/src/components/MoonTimer/MoonTimer.component.tsx
  packages/frontend/src/components/MoonTimer/MoonTimer.styles.tsx
Labels: :sparkles: feat, :art: frontend

#75 [FEAT] useCatchMind 커스텀 훅 구현
  package-lock.json
  packages/frontend/src/hooks/useCatchMind.tsx
  packages/frontend/src/types/game.ts
Labels: :sparkles: feat, :art: frontend

#76 [FEAT] 백엔드 도메인 구현
  .gitignore
  package-lock.json
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/redis.ts
  packages/backend/src/domains/canvas/canvas.ts
  packages/backend/src/domains/chat/entity/chat.service.ts
  packages/backend/src/domains/chat/entity/chat.ts
  packages/backend/src/domains/chat/inbound/chatIn.controller.ts
  packages/backend/src/domains/chat/inbound/chatIn.port.ts
  packages/backend/src/domains/chat/outbound/chatOut.adapter.ts
  packages/backend/src/domains/chat/outbound/chatOut.port.ts
  packages/backend/src/domains/game/entity/catchMind.service.ts
  packages/backend/src/domains/game/entity/catchMind.ts
  packages/backend/src/domains/game/inBound/CatchMindInput.port.ts
  packages/backend/src/domains/game/inBound/catchMindInput.controller.ts
  packages/backend/src/domains/game/outBound/CatchMindEvent.Adapter.ts
  packages/backend/src/domains/game/outBound/catchMind.repository.port.ts
  packages/backend/src/domains/game/outBound/catchMind.repository.ts
  packages/backend/src/domains/game/outBound/catchMindEvent.port.ts
  packages/backend/src/domains/player/entity/palyer.service.ts
  packages/backend/src/domains/player/entity/player.entitiy.ts
  packages/backend/src/domains/player/inbound/player.controller.ts
  packages/backend/src/domains/player/inbound/player.port.ts
  packages/backend/src/domains/player/outbound/player.api.adapter.ts
  packages/backend/src/domains/player/outbound/player.port.ts
  packages/backend/src/domains/player/outbound/player.repository.ts
  packages/backend/src/domains/room/entity/room.entity.ts
  packages/backend/src/domains/room/entity/room.service.ts
  packages/backend/src/domains/room/entity/searchRoom.service.ts
  packages/backend/src/domains/room/inbound/SearchRoom.api.controller.ts
  packages/backend/src/domains/room/inbound/room.controller.ts
  packages/backend/src/domains/room/inbound/room.port.ts
  packages/backend/src/domains/room/inbound/searchRoom.api.port.ts
  packages/backend/src/domains/room/outbound/room.api.adapter.ts
  packages/backend/src/domains/room/outbound/room.event.adapter.ts
  packages/backend/src/domains/room/outbound/room.port.ts
  packages/backend/src/domains/room/outbound/room.repository.ts
  packages/backend/src/utils/socketEmitter.ts
  packages/backend/src/utils/socketMiddlware.ts
Labels: :sparkles: feat, :gear: backend

#68 [FEAT] 게임 모드 선택 컴포넌트 구현
  packages/frontend/src/components/GameModeSegmentedControl/GameModeSegmentedControl.component.tsx
  packages/frontend/src/components/GameModeSegmentedControl/GameModeSegmentedControl.styles.tsx
  packages/frontend/src/constants/game-mode.tsx
Labels: :sparkles: feat, :art: frontend, :gear: backend

#72 [FEAT] 랜딩 페이지 완성
  packages/frontend/src/components/NicknameInput/NicknameInput.component.tsx
  packages/frontend/src/global-styles/styled.d.ts
  packages/frontend/src/global-styles/theme.ts
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/store/nickname.ts
  packages/frontend/src/store/players.ts
Labels: :sparkles: feat, :art: frontend

#73 [FEAT] 게임 시작 기능 구현
  packages/frontend/src/components/PlayerList/PlayerList.styles.tsx
  packages/frontend/src/hooks/useCatchMind.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.styles.tsx
  packages/frontend/src/store/game.ts
  packages/frontend/src/types/game.ts
Labels: :sparkles: feat, :art: frontend, :gear: backend

#77 [fix] player, room 도메인 소켓 연결
  packages/backend/src/app.ts
Labels: :sparkles: feat, :gear: backend

#78 [FEAT] disconnect 이벤트 구현
  packages/backend/src/domains/chat/inbound/chatIn.controller.ts
  packages/backend/src/domains/player/inbound/player.controller.ts
  packages/backend/src/domains/room/entity/room.service.ts
  packages/backend/src/domains/room/outbound/room.event.adapter.ts
  packages/backend/src/domains/room/outbound/room.port.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :gear: backend

#79 [FEAT] 게임 페이지 및 로직 구현
  package-lock.json
  packages/backend/package.json
  packages/backend/src/domains/chat/entity/chat.service.ts
  packages/backend/src/domains/chat/outbound/chatOut.adapter.ts
  packages/backend/src/domains/chat/outbound/chatOut.port.ts
  packages/backend/src/domains/game/entity/catchMind.service.ts
  packages/backend/src/domains/game/entity/catchMind.ts
  packages/backend/src/domains/game/inBound/catchMindInput.controller.ts
  packages/backend/src/domains/game/outBound/CatchMindEvent.Adapter.ts
  packages/backend/src/domains/game/outBound/catchMind.repository.ts
  packages/backend/src/domains/game/outBound/catchMindEvent.port.ts
  packages/backend/src/domains/game/outBound/catchMindToRoom.adapter.ts
  packages/backend/src/domains/game/outBound/catchMindToRoom.port.ts
  packages/backend/src/domains/room/entity/room.entity.ts
  packages/backend/src/domains/room/entity/room.service.ts
  packages/backend/src/domains/room/inbound/room.controller.ts
  packages/backend/src/domains/room/inbound/room.port.ts
  packages/backend/src/domains/room/outbound/room.api.adapter.ts
  packages/backend/test/canvasSocket.test.ts
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Chat/Chat.component.tsx
  packages/frontend/src/components/Chat/Chat.styles.tsx
  packages/frontend/src/components/PaintBoard/PaintBoard.component.tsx
  packages/frontend/src/components/PaintBoard/PaintBoard.styles.tsx
  packages/frontend/src/components/PaintToolBox/PaintToolBox.component.tsx
  packages/frontend/src/components/PaintToolBox/PaintToolBox.styles.tsx
  packages/frontend/src/components/PlayerList/PlayerList.styles.tsx
  packages/frontend/src/components/Rank/Rank.component.tsx
  packages/frontend/src/components/Rank/Rank.styles.tsx
  packages/frontend/src/components/common/Header.tsx
  packages/frontend/src/global-styles/global-styles.ts
  packages/frontend/src/global-styles/theme.ts
  packages/frontend/src/hooks/useCatchMind.tsx
  packages/frontend/src/pages/GamePage/GamePage.component.tsx
  packages/frontend/src/pages/GamePage/GamePage.styles.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/store/socket.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :lipstick: style, :recycle: refactor, :package: chore, :art: frontend, :gear: backend

#105 [FIX] CD 에러 수정
  .github/workflows/CD.yml
Labels: :hammer_and_pick: fix, :mag: 리뷰요청, :rocket: ci/cd

#111 feat: 슬랙 7시 알람
  .github/workflows/slackAlram.yml
Labels: :sparkles: feat

#106 [FIX] 게임중 MoonTimer 재대로 작동 안하는 현상 수정
  packages/frontend/src/components/MoonTimer/MoonTimer.component.tsx
  packages/frontend/src/pages/GamePage/GamePage.component.tsx
Labels: :bug: bug, :hammer_and_pick: fix, :art: frontend

#110 [CHORE] 프론트엔드 eslint 플러그인 추가
  package-lock.json
  packages/frontend/.eslintrc.json
  packages/frontend/package.json
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
Labels: :recycle: refactor, :package: chore, :art: frontend

#107 [FIX] 시간 제한으로 인한 라운드 종료 시 문구 추가
  packages/frontend/src/pages/GamePage/GamePage.component.tsx
Labels: :hammer_and_pick: fix, :recycle: refactor, :art: frontend

#108 [FEAT] 변경된 부분에 한하여 CI 하기
  .github/workflows/CI.yml
Labels: :sparkles: feat, :mag: 리뷰요청, :rocket: ci/cd
