Repository boostcampwm-2022/web15-Teleparty, pull requests merged in 2022-12, with the labels that each got.

#115 [FIX] 다음 라운드 버튼 클릭 시 플레이어 리스트 색상이 바뀌지 않는 현상
  packages/frontend/src/hooks/useCatchMind.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#123 [FEAT] 갈틱폰 제시어 입력 단계
  packages/frontend/src/components/CatchMind/CatchMind.component.tsx
  packages/frontend/src/components/GameModeSegmentedControl/GameModeSegmentedControl.component.tsx
  packages/frontend/src/components/Gartic/Gartic.component.tsx
  packages/frontend/src/hooks/useGartic.tsx
  packages/frontend/src/hooks/usePreventClose.tsx
  packages/frontend/src/pages/GamePage/GamePage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/types/game.ts
Labels: :sparkles: feat, :recycle: refactor, :art: frontend

#116 [BUG] 플레이어 중복입장 처리
  packages/backend/src/app.ts
  packages/backend/src/domains/chat/inbound/chatIn.controller.ts
  packages/backend/src/domains/game/entity/catchMind.service.ts
  packages/backend/src/domains/game/inBound/catchMindAPI.controller.ts
  packages/backend/src/domains/game/inBound/catchMindInput.controller.ts
  packages/backend/src/domains/game/outBound/CatchMindEvent.Adapter.ts
  packages/backend/src/domains/game/outBound/catchMind.repository.ts
  packages/backend/src/domains/game/outBound/catchMindEvent.port.ts
  packages/backend/src/domains/game/outBound/catchMindToRoom.adapter.ts
  packages/backend/src/domains/player/entity/palyer.service.ts
  packages/backend/src/domains/player/inbound/player.controller.ts
  packages/backend/src/domains/player/inbound/player.port.ts
  packages/backend/src/domains/player/outbound/player.api.adapter.ts
  packages/backend/src/domains/player/outbound/player.event.adapter.ts
  packages/backend/src/domains/player/outbound/player.port.ts
  packages/backend/src/domains/room/inbound/SearchRoom.api.controller.ts
  packages/backend/src/domains/room/inbound/room.controller.ts
  packages/backend/src/domains/room/outbound/room.api.adapter.ts
  packages/backend/src/utils/domainConnecter.ts
  packages/backend/src/utils/socketRouter.ts
Labels: :bug: bug, :gear: backend

#121 [FEAT] 갈틱폰 백엔드 기반 엔티티 구현
  packages/backend/src/app.ts
  packages/backend/src/domains/catchMind/entity/catchMind.service.ts
  packages/backend/src/domains/catchMind/entity/catchMind.ts
  packages/backend/src/domains/catchMind/inbound/CatchMindInput.port.ts
  packages/backend/src/domains/catchMind/inbound/catchMindAPI.controller.ts
  packages/backend/src/domains/catchMind/inbound/catchMindInput.controller.ts
  packages/backend/src/domains/catchMind/outbound/CatchMindEvent.Adapter.ts
  packages/backend/src/domains/catchMind/outbound/catchMind.repository.port.ts
  packages/backend/src/domains/catchMind/outbound/catchMind.repository.ts
  packages/backend/src/domains/catchMind/outbound/catchMindEvent.port.ts
  packages/backend/src/domains/catchMind/outbound/catchMindToRoom.adapter.ts
  packages/backend/src/domains/catchMind/outbound/catchMindToRoom.port.ts
  packages/backend/src/domains/garticphone/entity/garticphone.ts
Labels: :sparkles: feat, :gear: backend

#120 [FEAT] 갈틱폰 제시어 입력 기능
  packages/backend/src/app.ts
  packages/backend/src/domains/garticphone/entity/garticphone.service.ts
  packages/backend/src/domains/garticphone/entity/garticphone.ts
  packages/backend/src/domains/garticphone/inbound/garticphone.controller.ts
  packages/backend/src/domains/garticphone/inbound/garticphone.port.ts
  packages/backend/src/domains/garticphone/outbound/garitcphone.repository.port.ts
  packages/backend/src/domains/garticphone/outbound/garticphone.repository.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneEvent.adapter.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneEvent.port.ts
  packages/backend/src/domains/room/outbound/room.api.adapter.ts
Labels: :sparkles: feat, :gear: backend

#117 [FIX] 게임 중 플레이어가 나갔을 시 처리
  packages/backend/src/domains/catchMind/entity/catchMind.service.ts
  packages/backend/src/domains/catchMind/entity/catchMind.ts
  packages/backend/src/domains/catchMind/inbound/CatchMindInput.port.ts
  packages/backend/src/domains/catchMind/inbound/catchMindAPI.controller.ts
  packages/backend/src/domains/room/entity/room.service.ts
  packages/backend/src/domains/room/inbound/room.controller.ts
  packages/backend/src/domains/room/outbound/room.api.adapter.ts
  packages/backend/src/domains/room/outbound/room.port.ts
Labels: :bug: bug, :gear: backend

#122 [FEAT] 음성 채팅
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/hooks/useAudioCommunication.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/store/peer.ts
  packages/frontend/src/utils/audioStreamMap.ts
Labels: :sparkles: feat, :art: frontend

#124 [FEAT] 마이크 토글링
  packages/frontend/src/components/Icon/Icon.tsx
  packages/frontend/src/components/PlayerList/PlayerList.component.tsx
  packages/frontend/src/components/PlayerList/PlayerListItem/PlayerListItem.component.tsx
  packages/frontend/src/components/PlayerList/PlayerListItem/PlayerListItem.styles.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/utils/audioStreamMap.ts
Labels: :sparkles: feat, :art: frontend

#128 [FIX] 방 페이지 오류 수정
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#130 [FIX] room id 전달 안되는 오류 수정
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#134 [FIX] join 이벤트 시 전달 데이터 변경
  packages/backend/src/domains/room/entity/room.service.ts
Labels: :bug: bug, :gear: backend

#133 [FEAT] 갈틱폰 모드 그림 그리기 단계
  packages/frontend/src/components/Canvas/Canvas.component.tsx
  packages/frontend/src/components/CatchMind/CatchMind.component.tsx
  packages/frontend/src/components/Gartic/Gartic.component.tsx
Labels: :sparkles: feat, :art: frontend

#132 [FEAT] 음성 입력 UI 피드백
  packages/frontend/src/components/PlayerList/PlayerListItem/PlayerListItem.component.tsx
  packages/frontend/src/components/PlayerList/PlayerListItem/PlayerListItem.styles.tsx
  packages/frontend/src/hooks/useAudioCommunication.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/types/game.ts
  packages/frontend/src/utils/audioStreamMap.ts
Labels: :sparkles: feat, :art: frontend

#135 [FEAT] 갈틱폰 모드 제시어 유추 단계
  packages/frontend/src/components/Canvas/Canvas.component.tsx
  packages/frontend/src/components/Gartic/Gartic.component.tsx
  packages/frontend/src/constants/canvas.ts
Labels: :sparkles: feat, :recycle: refactor, :art: frontend

#136 [FEAT] 그리기 라운드 구현
  packages/backend/src/domains/garticphone/entity/garticphone.service.ts
  packages/backend/src/domains/garticphone/entity/garticphone.ts
  packages/backend/src/domains/garticphone/inbound/garticphone.controller.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneEvent.adapter.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneEvent.port.ts
  packages/backend/src/utils/socketEmitter.ts
Labels: :sparkles: feat, :gear: backend

#137 [FEAT] 게임 종료 이벤트 및 앨범 보내기 기능
  packages/backend/src/domains/garticphone/entity/garticphone.service.ts
  packages/backend/src/domains/garticphone/entity/garticphone.ts
  packages/backend/src/domains/garticphone/inbound/garticphone.controller.ts
  packages/backend/src/domains/garticphone/inbound/garticphone.port.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneEvent.adapter.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneEvent.port.ts
Labels: :sparkles: feat, :gear: backend

#138 [FEAT] 게임에서 중간에 나가는 이벤트 구현
  packages/backend/src/domains/garticphone/entity/garticphone.service.ts
  packages/backend/src/domains/garticphone/entity/garticphone.ts
  packages/backend/src/domains/garticphone/inbound/garticphone.controller.ts
  packages/backend/src/domains/garticphone/inbound/garticphone.port.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneEvent.adapter.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneEvent.port.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneToRoom.adapter.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneToRoom.port.ts
  packages/backend/src/domains/room/entity/room.entity.ts
  packages/backend/src/domains/room/entity/room.service.ts
  packages/backend/src/domains/room/inbound/room.controller.ts
  packages/backend/src/domains/room/inbound/room.port.ts
  packages/backend/src/domains/room/outbound/room.api.adapter.ts
  packages/backend/src/domains/room/outbound/room.port.ts
  packages/backend/src/domains/room/outbound/room.repository.ts
Labels: :sparkles: feat, :gear: backend

#139 [FEAT] 갈틱폰 모드 게임 결과 페이지
  packages/frontend/src/components/Album/Album.component.tsx
  packages/frontend/src/components/Album/Album.styles.tsx
  packages/frontend/src/components/Album/AlbumBubble.component.tsx
  packages/frontend/src/components/Chat/Chat.component.tsx
  packages/frontend/src/components/Chat/Chat.styles.tsx
  packages/frontend/src/components/Chat/ChatBubble.component.tsx
  packages/frontend/src/components/Gartic/Gartic.component.tsx
  packages/frontend/src/components/Gartic/Gartic.styles.tsx
  packages/frontend/src/hooks/useGartic.tsx
  packages/frontend/src/types/game.ts
Labels: :sparkles: feat, :lipstick: style, :recycle: refactor, :art: frontend

#175 [FIX] 타이머 초기화 오류 수정
  packages/frontend/src/components/CatchMind/CatchMind.component.tsx
  packages/frontend/src/components/Gartic/Gartic.component.tsx
  packages/frontend/src/components/MoonTimer/MoonTimer.component.tsx
  packages/frontend/src/components/NicknameInput/NicknameInput.component.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/store/nickname.ts
Labels: :hammer_and_pick: fix, :recycle: refactor, :art: frontend

#172 [FIX] 캐치마인드 퇴장 이벤트 추가로 갈틱폰 오류 수정
  packages/backend/src/domains/catchMind/outbound/CatchMindEvent.Adapter.ts
  packages/backend/src/domains/garticphone/entity/garticphone.service.ts
  packages/backend/src/domains/garticphone/outbound/garticphoneToRoom.adapter.ts
  packages/frontend/src/components/CatchMind/CatchMind.component.tsx
  packages/frontend/src/pages/GamePage/GamePage.component.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#171 [FIX] 모두 방에 없는데 게임을 시작하는 오류 수정
  packages/backend/src/domains/catchMind/entity/catchMind.service.ts
  packages/frontend/src/components/CatchMind/CatchMind.component.tsx
Labels: :bug: bug, :hammer_and_pick: fix, :art: frontend, :gear: backend

#176 [FIX] useAudioCommunication 관련 버그 수정
  packages/frontend/src/components/PlayerList/PlayerListItem/PlayerListItem.component.tsx
  packages/frontend/src/hooks/useAudioCommunication.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/utils/audioStreamManager.ts
  packages/frontend/src/utils/peer.ts
Labels: :hammer_and_pick: fix, :art: frontend

#179 [FEAT] 게임로직 redis 연결 및 방에서 나가는 로직 수정
  packages/backend/src/domains/catchMind/entity/catchMind.service.ts
  packages/backend/src/domains/catchMind/entity/catchMind.ts
  packages/backend/src/domains/catchMind/inbound/CatchMindInput.port.ts
  packages/backend/src/domains/catchMind/inbound/catchMindAPI.controller.ts
  packages/backend/src/domains/catchMind/inbound/catchMindInput.controller.ts
  packages/backend/src/domains/catchMind/outbound/catchMind.repository.port.ts
  packages/backend/src/domains/catchMind/outbound/catchMind.repository.ts
  packages/backend/src/domains/catchMind/outbound/timer.repository.port.ts
  packages/backend/src/domains/catchMind/outbound/timer.repository.ts
  packages/backend/src/domains/garticphone/entity/garticphone.service.ts
  packages/backend/src/domains/garticphone/entity/garticphone.ts
  packages/backend/src/domains/garticphone/inbound/garticphone.controller.ts
  packages/backend/src/domains/garticphone/outbound/garitcphone.repository.port.ts
  packages/backend/src/domains/garticphone/outbound/garticphone.repository.ts
  packages/backend/src/domains/garticphone/outbound/timer.repository.port.ts
  packages/backend/src/domains/garticphone/outbound/timer.repository.ts
  packages/backend/src/domains/player/entity/player.service.ts
  packages/backend/src/domains/player/inbound/player.controller.ts
  packages/backend/src/domains/room/entity/room.service.ts
  packages/backend/src/domains/room/inbound/room.controller.ts
  packages/backend/src/domains/room/outbound/room.repository.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :gear: backend

#178 [FIX] 플레이어 리스트 수정
  .github/workflows/CI.yml
  packages/backend/src/domains/room/entity/room.service.ts
  packages/backend/src/domains/room/outbound/room.event.adapter.ts
  packages/backend/src/domains/room/outbound/room.port.ts
  packages/frontend/src/assets/icon-selection.json
  packages/frontend/src/components/Album/Album.component.tsx
  packages/frontend/src/components/CatchMind/CatchMind.component.tsx
  packages/frontend/src/components/Gartic/Gartic.component.tsx
  packages/frontend/src/components/Icon/Icon.tsx
  packages/frontend/src/components/PlayerList/PlayerListItem/PlayerListItem.component.tsx
  packages/frontend/src/components/PlayerList/PlayerListItem/PlayerListItem.styles.tsx
  packages/frontend/src/hooks/useCatchMind.tsx
  packages/frontend/src/hooks/useGartic.tsx
  packages/frontend/src/pages/GamePage/GamePage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/store/players.ts
  packages/frontend/src/store/socket.ts
  packages/frontend/src/types/game.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :art: frontend, :gear: backend

#177 [FIX] Canvas에서 채우기 기능이 재대로 작동하지 않는 현상 수정
  packages/frontend/src/components/Canvas/Canvas.component.tsx
  packages/frontend/src/components/Canvas/utils/FillShape.ts
  packages/frontend/src/components/Canvas/utils/canvas.ts
  packages/frontend/src/components/Canvas/utils/floodfill.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :art: frontend, ⚡️ perf

#182 [PERF] 캔버스 공유 로직 개선 및 화질 개선
  packages/frontend/src/components/Canvas/Canvas.component.tsx
  packages/frontend/src/components/Canvas/utils/types.ts
  packages/frontend/src/components/CatchMind/CatchMind.component.tsx
  packages/frontend/src/hooks/useCatchMind.tsx
  packages/frontend/src/hooks/useDataConnectionWithPeers.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/store/dataConnectionMap.ts
  packages/frontend/src/store/tool.ts
  packages/frontend/src/utils/throttle.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :recycle: refactor, :art: frontend, ⚡️ perf

#184 [FIX] 간헐적으로 음성 연결에 실패하는 오류 수정
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/utils/peer.ts
Labels: :hammer_and_pick: fix, :art: frontend

#186 [FEAT] 반응형 페이지로 전환
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Canvas/Canvas.component.tsx
  packages/frontend/src/components/Canvas/Canvas.styles.tsx
  packages/frontend/src/components/Palette/Palette.component.tsx
  packages/frontend/src/global-styles/global-styles.ts
  packages/frontend/src/pages/GamePage/GamePage.component.tsx
  packages/frontend/src/pages/GamePage/GamePage.styles.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.styles.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.styles.tsx
  packages/frontend/src/store/ratio.ts
  packages/frontend/src/store/tool.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :recycle: refactor, :art: frontend

#189 [FEAT] 초대 기능 UX 개선
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
Labels: :sparkles: feat, :package: chore, :art: frontend

#191 [FEAT] 방장의 게임모드 설정을 방 인원에게 표시
  packages/frontend/src/components/GameModeSegmentedControl/GameModeSegmentedControl.component.tsx
  packages/frontend/src/components/GameModeSegmentedControl/GameModeSegmentedControl.styles.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
Labels: :sparkles: feat, :art: frontend

#197 [FIX] 방 페이지 배경 수정
  packages/frontend/src/pages/RoomPage/RoomPage.styles.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#198 [FIX] 로고 수축 수정
  packages/frontend/src/components/CatchMind/CatchMind.component.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#199 [FEAT] 모든 플레이어가 방에 돌아오지 않았을 때 토스트 메시지 출력
  packages/frontend/src/App.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
  packages/frontend/src/pages/LandingPage/LandingPage.styles.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
Labels: :sparkles: feat, :hammer_and_pick: fix, :art: frontend

#203 [FIX] 게임 시작 시 오디오 연결 끊김 수정
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Game/CatchMind/CatchMind.component.tsx
  packages/frontend/src/components/Game/Game.components.tsx
  packages/frontend/src/components/Game/Game.styles.tsx
  packages/frontend/src/components/Game/Gartic/Gartic.component.tsx
  packages/frontend/src/components/Game/Gartic/Gartic.styles.tsx
  packages/frontend/src/components/Lobby/Lobby.component.tsx
  packages/frontend/src/components/Lobby/Lobby.styles.tsx
  packages/frontend/src/pages/RoomPage/RoomPage.component.tsx
Labels: :hammer_and_pick: fix, :recycle: refactor, :art: frontend

#205 [FIX] 방 및 게임 페이지에서 새로고침 시 통신 관련 hook 오류
  packages/frontend/src/hooks/useAudioCommunication.tsx
  packages/frontend/src/hooks/useDataConnectionWithPeers.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#207 [FIX] 음소거 아이콘 오류 수정
  packages/frontend/src/utils/audioStreamManager.ts
Labels: :hammer_and_pick: fix, :art: frontend

#209 [FIX] 갈틱폰 모드 제시어 입력 단계 타이머 동작
  packages/frontend/src/components/Game/Gartic/Gartic.component.tsx
  packages/frontend/src/components/PlayerList/PlayerListItem/PlayerListItem.component.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#211 [FIX] 배포후 발견된 버그 수정 및 개선점 적용
  packages/backend/src/config/redis.ts
  packages/frontend/src/components/Canvas/Canvas.component.tsx
  packages/frontend/src/components/Palette/Palette.component.tsx
  packages/frontend/src/components/Thickness/Thickness.component.tsx
  packages/frontend/src/components/ToolBox/ToolBox.component.tsx
  packages/frontend/src/components/Transparency/Transparency.component.tsx
  packages/frontend/src/hooks/useCatchMind.tsx
  packages/frontend/src/hooks/useDataConnectionWithPeers.tsx
  packages/frontend/src/store/thickness.ts
  packages/frontend/src/store/tool.ts
  packages/frontend/src/store/transparency.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :art: frontend, :gear: backend

#236 [FIX] 12/10 핫픽스 작업 내용 dev로 머지
  packages/backend/src/config/redis.ts
  packages/frontend/src/components/Canvas/Canvas.component.tsx
  packages/frontend/src/components/Palette/Palette.component.tsx
  packages/frontend/src/components/Thickness/Thickness.component.tsx
  packages/frontend/src/components/ToolBox/ToolBox.component.tsx
  packages/frontend/src/components/Transparency/Transparency.component.tsx
  packages/frontend/src/hooks/useCatchMind.tsx
  packages/frontend/src/hooks/useDataConnectionWithPeers.tsx
  packages/frontend/src/store/thickness.ts
  packages/frontend/src/store/tool.ts
  packages/frontend/src/store/transparency.ts
Labels: :hammer_and_pick: fix, :art: frontend

#229 [FEAT] favicon 변경
  .github/workflows/CI.yml
  packages/frontend/index.html
  packages/frontend/public/favicon.svg
  packages/frontend/public/vite.svg
Labels: :sparkles: feat, :art: frontend

#230 [FIX] 앨범 이미지 스크롤 오류 수정
  packages/frontend/src/components/Album/Album.component.tsx
  packages/frontend/src/components/Chat/Chat.component.tsx
Labels: :hammer_and_pick: fix, :art: frontend

#232 [FEAT] 갈틱폰 라운드 시간 변경
  packages/backend/src/domains/garticphone/controllers/garticphone.controller.ts
  packages/backend/src/domains/garticphone/entity/garticphone.ts
  packages/backend/src/domains/garticphone/useCases/garticphone.service.ts
  packages/backend/src/domains/garticphone/useCases/garticphoneController.port.ts
  packages/backend/src/domains/room/controllers/searchRoom.api.port.ts
  packages/backend/src/domains/room/entity/room.entity.ts
  packages/backend/src/domains/room/presenters/room.api.adapter.ts
  packages/backend/src/domains/room/presenters/room.port.ts
  packages/backend/src/domains/room/useCases/room.service.ts
Labels: :sparkles: feat, :gear: backend

#234 [FEAT] 캐치마인드 1명 남았을 때 게임 종료
  packages/backend/src/domains/catchMind/entity/catchMind.ts
  packages/backend/src/domains/catchMind/useCases/catchMind.service.ts
  packages/backend/src/domains/room/useCases/room.service.ts
Labels: :sparkles: feat, :hammer_and_pick: fix, :gear: backend

#244 [FEAT] 게임 결과물 저장하기
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/Album/Album.component.tsx
  packages/frontend/src/components/Game/CatchMind/CatchMind.component.tsx
  packages/frontend/src/components/Game/Game.components.tsx
  packages/frontend/src/hooks/useCreateGIF.ts
  packages/frontend/src/hooks/useCreateImage.ts
  packages/frontend/src/hooks/useUsername.ts
  packages/frontend/src/types/gifshot/index.d.ts
  packages/frontend/src/utils/date.ts
  packages/frontend/tsconfig.json
Labels: :sparkles: feat, :recycle: refactor, :art: frontend

#245 [REFACTOR] 백엔드 이어서 그리기, 그림 퀴즈 도메인 리팩토링
  packages/backend/src/app.ts
  packages/backend/src/domains/catchMind/controllers/catchMind.controller.ts
  packages/backend/src/domains/catchMind/controllers/catchMindAPI.controller.ts
  packages/backend/src/domains/catchMind/entity/catchMind.factory.ts
  packages/backend/src/domains/catchMind/entity/catchMind.ts
  packages/backend/src/domains/catchMind/entity/player.ts
  packages/backend/src/domains/catchMind/presenters/catchMind.repository.ts
  packages/backend/src/domains/catchMind/presenters/clientAPI.presenter.ts
  packages/backend/src/domains/catchMind/presenters/roomAPI.presenter.ts
  packages/backend/src/domains/catchMind/useCases/catchMind.useCase.ts
  packages/backend/src/domains/catchMind/useCases/catchMindEvent.port.ts
  packages/backend/src/domains/catchMind/useCases/ports/CatchMind.controller.port.ts
  packages/backend/src/domains/catchMind/useCases/ports/catchMind.repository.port.ts
  packages/backend/src/domains/catchMind/useCases/ports/clientAPI.port.ts
  packages/backend/src/domains/catchMind/useCases/ports/roomAPI.port.ts
  packages/backend/src/domains/catchMind/useCases/ports/timer.repository.port.ts
  packages/backend/src/domains/garticphone/controllers/garticphone.controller.ts
  packages/backend/src/domains/garticphone/controllers/roomAPI.controller.ts
  packages/backend/src/domains/garticphone/entity/albumData.ts
  packages/backend/src/domains/garticphone/entity/garticphone.ts
  packages/backend/src/domains/garticphone/entity/player.ts
  packages/backend/src/domains/garticphone/presenters/clientAPI.presenter.ts
  packages/backend/src/domains/garticphone/presenters/garticphone.repository.ts
  packages/backend/src/domains/garticphone/presenters/roomAPI.presenter.ts
  packages/backend/src/domains/garticphone/useCases/garticphone.useCase.ts
  packages/backend/src/domains/garticphone/useCases/ports/clientAPI.port.ts
  packages/backend/src/domains/garticphone/useCases/ports/garitcphone.repository.port.ts
  packages/backend/src/domains/garticphone/useCases/ports/garticphoneController.port.ts
  packages/backend/src/domains/garticphone/useCases/ports/roomAPI.port.ts
  packages/backend/src/domains/garticphone/useCases/ports/timer.repository.port.ts
  packages/backend/src/domains/room/presenters/room.api.adapter.ts
  packages/backend/src/types/catchMind.type.ts
  packages/backend/src/types/gartic.type.ts
  packages/backend/src/utils/chalk.ts
  packages/backend/src/utils/timer.ts
Labels: :recycle: refactor, :gear: backend

#248 [FIX] 배포 후 에러 수정
  packages/backend/src/domains/catchMind/presenters/clientAPI.presenter.ts
  packages/backend/src/domains/chat/presenters/chatOut.adapter.ts
  packages/backend/src/domains/garticphone/presenters/clientAPI.presenter.ts
  packages/backend/src/domains/room/presenters/room.event.adapter.ts
  packages/frontend/src/components/Album/Album.component.tsx
Labels: :bug: bug, :art: frontend, :gear: backend

#250 [REFACTOR] 게임 모드 이름 변경
  packages/frontend/src/constants/game-mode.tsx
Labels: :recycle: refactor, :art: frontend

#252 [REFACTOR] 프론트엔드 코드 개선
  packages/frontend/src/components/Canvas/utils/floodfill.ts
  packages/frontend/src/components/Game/CatchMind/CatchMind.component.tsx
  packages/frontend/src/components/Game/Game.components.tsx
  packages/frontend/src/components/Game/Gartic/Gartic.component.tsx
  packages/frontend/src/components/Lobby/Lobby.component.tsx
  packages/frontend/src/hooks/useCatchMind.tsx
  packages/frontend/src/hooks/useGartic.tsx
Labels: :recycle: refactor, :art: frontend

#253 [REFACTOR] 필요없는 컴포넌트 및 코드 삭제
  packages/frontend/src/components/NicknameInput/NicknameInput.component.tsx
  packages/frontend/src/components/Video/Video.component.tsx
  packages/frontend/src/components/Video/Video.styles.tsx
  packages/frontend/src/components/common/Input.tsx
  packages/frontend/src/components/common/TextInput.tsx
  packages/frontend/src/pages/CanvasPage/CanvasPage.component.tsx
  packages/frontend/src/pages/CanvasPage/CanvasPage.styles.tsx
  packages/frontend/src/utils/coordinate.ts
Labels: :recycle: refactor, :art: frontend

#254 [REFACTOR] UI 로직, 비즈니스 로직 분리
  packages/frontend/src/hooks/useLanding.ts
  packages/frontend/src/pages/LandingPage/LandingPage.component.tsx
Labels: :recycle: refactor, :art: frontend
